site_name: Forge Modding Notes
site_description: Forge Modding Explained
site_author: toapuro
site_url: https://toapuro.github.io/modding-notes/
repo_name: toapuro/modding-notes
repo_url: https://github.com/toapuro/modding-notes
copyright: MIT License

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  features:
    - content.code.copy
    - content.code.select
    - content.tooltips
    - content.code.annotate
    
    - navigation.instant
    
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue grey
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference

  icon:
    annotation: material/star-four-points-circle 

markdown_extensions:
  # Code
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true

  # Document
  - toc:
      permalink: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower

  # Text
  - footnotes
  - admonition
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  
  - attr_list
  - md_in_html

plugins:
  - search:
      lang: 'ja'
  - redirects:
      redirect_maps:
        'index.md': 'content/index.md'

hooks:
  - hooks/check.py

nav:
  - ホーム: content/index.md
  - 入門:
    - 環境構築: content/getting-started/setup.md
    - 依存関係の追加: content/getting-started/dependency.md
    - Modファイル構造: content/getting-started/mod-files.md
    - Modクラス: content/getting-started/mod.md

  - 発展:
    - マッピング: content/advanced/mapping.md
    - Gradle: content/advanced/gradle.md

  - レンダリング:
    - 基本: content/rendering/basic.md
    - 基本概念: content/rendering/api.md
    - 描画設定: content/rendering/render-options.md
    - レンダラー:
      - アイテム: content/rendering/renderer/item.md
      - モデル: content/rendering/renderer/model.md

  - レジストリ:
    - レジストリについて: content/registries/basic.md
    - アイテム: content/registries/item.md

  - Mixin:
    - 基本: content/mixin/index.md
    - インジェクション: content/mixin/injections.md
    - MixinExtras: content/mixin/mixin-extras.md
    - トリック: content/mixin/tricks.md
